<form #formulario ="ngForm" [hidden]="submitted" >
    <div class="form-group">
        <label for="matricula">Matricula</label>
        <input type="number" class="form-control" id="matricula" placeholder="A0XXXXX" name="matricula" [(ngModel)]="alumno.matricula">
    </div>
    
    <div class="form-group">
        <label for="nombre">Nombre {{alumno.nombre}}</label>
        <input type="text" class="form-control" id="nombre" placeholder="pppppp" name="nombre" [(ngModel)]="alumno.nombre">
    </div>
     <div class="form-group">
        <label for="paterno">Apellido Paterno</label>
        <input type="text" class="form-control" id="paterno" placeholder="pppppp" name="paterno" [(ngModel)]="alumno.paterno">
    </div>
     <div class="form-group">
        <label for="materno">Apellido Materno</label>
        <input type="text" class="form-control" id="materno" placeholder="pppppp" name="materno" [(ngModel)]="alumno.materno">
    </div>
    <div class="form-group">
        <label for="carrera">Carrera</label>
        <select class="form-control" id="carrera" name="carrera" [(ngModel)]="alumno.carrera">
         <option></option>
         <option *ngFor="let carrera of carreras" [value]="carrera"> {{carrera}}</option>
        </select>
        
    </div>
    
    <button type="submit" class="btn btn-success" (click)="enviarFormulario();">Enviar</button>

</form>
 <div [hidden]="!submitted">
     Formulario enviado
</div>















